.feedbacks-card {
  display: flex;
  align-items: center;
  margin: 0 0 50px 0;
}

.feedbacks-card__picture-wrap {
  min-width: 280px;
  margin: 0 20px 0 0;
}

.feedbacks-card__img {
  margin: 0 0 11px 0;
}

.feedbacks-card__picture-wrap:before {
  content: "";
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  background-size: 280px 280px;
  border-radius: 140px;
  position: absolute;
  width: 280px;
  height: 280px;
}

.feedbacks-card__description {
  text-align: center;
}

.feedbacks-card__review {
  height: 201px;
  max-width: 680px;
}

