.feedbacks-card {
  display: flex;
  align-items: center;
  margin: 0 0 50px 0;
}

.feedbacks-card__picture-wrap {
  min-width: 280px;
  margin: 0 20px 0 0;
}

.feedbacks-card__img {
  margin: 0 0 11px 0;
}

.feedbacks-card__description {
  text-align: center;
}

.feedbacks-card__review {
  height: 201px;
  max-width: 680px;
}

