.width-limiting__button {
  width: 300px;
  height: 60px;
  background-color: var(--main-text-color, #FFFFFF);
  border-radius: 10px;
  border: none;
  align-self: flex-end;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  cursor: pointer;
  box-shadow: 0 0 20px 1px var(--main-text-color, #FFFFFF);
  transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
}

.width-limiting__button:hover {
  background-color: var(--dark-purple, #6C0287);
  border: 3px solid var(--main-text-color, #FFFFFF);
  border-radius: 10px;
  color: #FFFFFF;
}

.width-limiting__button:focus {
  background-color: var(--main-text-color, #FFFFFF);
  border: 3px solid var(--dark-purple, #6C0287);
  border-radius: 10px;
  color: #6C0287;
}

.width-limiting__button:active {
  background-color: var(--beige-hover, #EADEED);
  border-radius: 10px;
}

.width-limiting {
  max-width: 980px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1320px) {
  .width-limiting__button {
    width: 254px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .width-limiting__button {
    width: 300px;
    height: 60px;
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (max-width: 630px) {
  .width-limiting__button {
    width: 100%;
    font-size: 18px;
    line-height: 26px;
  }
}
