.card {
  flex-basis: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 1px #6c0287;
}

.card__description {
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
  white-space: pre-line;
  text-align: center;
  line-height: 80px;
  margin: 0;
}
