.contacts-addresses__icons-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contacts-addresses__icons-wrap_margin {
  margin: 0 0 38px 0;
}

.contacts-addresses__list {
  list-style-type: none;
  display: inline-block;
  margin: 35px 0 0;
}

.contacts-addresses__item {
  float: left;
  margin: 0 26px 0 0;
}
