.contacts-addresses__icons-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contacts-addresses__icons-wrap_margin {
  margin: 0 0 38px 0;
}

.contacts-addresses__list {
  list-style-type: none;
  display: flex;
  padding: 35px 0 0;
  gap: 26px;
}
