.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  background-color: var(--main-text-color, #FFFFFF);
  color: var(--dark-grey, #1C1A1A);
  font-weight: 700;
  font-size: 24px;
  padding: 20px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq__item:nth-child(even) {
  background-color: var(--dark-violet, #440F51);
  color: var(--main-text-color, #FFFFFF);
}
