.rooms {
  display: flex;
  flex-direction: row;
  gap: 60px;
  flex-wrap: wrap;
}

.rooms__label {
  width: 250px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 8px;
  border: 3px solid #ffffff;
  transition: background-color 0.4s ease, border 0.3s ease;
}

.rooms__input {
  appearance: none;
}

.rooms__input:after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 8px;
  border: 3px solid #ffffff;
  transition: background-color 0.4s ease, border 0.3s ease;
}

.rooms__input_80s:after {
  content: "80's vibes";
}

.rooms__input_star-wars:after {
  content: "star wars";
}

.rooms__input_wild-west:after {
  content: "wild west";
}

.rooms__input_neon-style:after {
  content: "neon style";
}

.rooms__input:hover:after {
  background-color: #EADEED;
  border: 3px solid #640AA3;
  border-radius: 8px;
  width: 250px;
  height: 55px;
}

.rooms__input:focus:after {
  background-color: #FFFFFF;
  border: 3px solid #640AA3;
  border-radius: 8px;
  width: 250px;
  height: 55px;
}

.rooms__input:checked:after {
  background-color: #6C0287;
  border: 3px solid #FFFFFF;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
