.fieldset-entertainment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 100px;
  margin: 0 0 60px 0;
}

.fieldset-entertainment__legend {
  margin: 0 auto 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--main-text-color, #FFFFFF);
}

@media screen and (max-width: 1023px) {
  .fieldset-entertainment {
    display: flex;
    flex-direction: row;
    gap: 30px 164px;
    margin: 0 0 50px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 630px) {
  .fieldset-entertainment__legend {
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto 15px;
  }

  .fieldset-entertainment {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 0 30px 0;
  }
}
