.board-games {
  display: flex;
  flex-direction: column;
}

.board-games__legend {
  margin: 0 0 24px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.board-games__label {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 0 20px 0;
}

.board-games__input {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
}

.board-games__input:focus {
  outline: 2px solid #CD06FF;
}

.board-games__input:checked {
  height: 25px;
  width: 25px;
  background-color: #440F51;
  padding: 4px;
  border: 8px solid #ffffff;
}
