.board-games {
  display: flex;
  flex-direction: column;
}

.board-games__legend {
  margin: 0 0 24px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.board-games__label {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 0 20px 0;
}