.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 21px 0;
}

.copyright__element {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-text-color, #FFFFFF);
  margin: 0;
}

.copyright__element_who {
  white-space: pre-line;
  text-align: right;
}

.copyright__element-email {
  color: var(--main-text-color, #FFFFFF);
  text-decoration: none;
  transition: color 0.4s ease;
}

.copyright__element-email:hover {
  color: var(--neon-purple, #CD06FF);
}
