.date-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 630px;
  gap: 14px 50px;
  justify-content: flex-end;
}

.date-right__input:focus {
  outline: 2px solid var(--neon-purple, #CD06FF);
}

.date-right__label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--main-text-color, #FFFFFF);
}

.date-right__input_firstname {
  width: 280px;
  height: 52px;
  transition: outline 0.4s ease;
}

.date-right__input_lastname {
  width: 280px;
  height: 52px;
  transition: outline 0.4s ease;
}

.date-right__input_phone {
  width: 300px;
  height: 52px;
  padding: 10px;
  transition: outline 0.4s ease;
}

.date-right__input_email {
  width: 300px;
  height: 52px;
  transition: outline 0.4s ease;
}
