.link-wrap {
  width: 50px;
  height: 50px;
  display: block;
  transition: outline 0.4s ease;
}

.link-wrap__svg {
  color: #ffffff;
  transition: outline 0.4s ease, color 0.4s ease;
}

.link-wrap__svg:hover {
  color: #EADEED;
}

.link-wrap:focus {
  outline: 1px solid #CD06FF;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.link-wrap__svg:active {
  color: #CD06FF;
}
