.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media screen and (max-width: 1320px) {
  .menu-list {
    gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
