.icons-wrap__detail {
  display: flex;
  gap: 30px;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 11px 0;
}

.icons-wrap__detail_address {
  white-space: pre-line;
  margin: 0 0 40px 0;
}

.icons-wrap__detail_flex {
  display: flex;
  flex-direction: column;
}

.icons-wrap__detail-link {
  transition: color 0.4s ease;
}

.icons-wrap__detail-link:hover {
  color: var(--neon-purple, #CD06FF);
}

.icons-wrap__detail_address:before {
  content: '';
  background-image: url("img/location.svg");
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
}

.icons-wrap__detail_phone:before {
  content: '';
  background-image: url("img/bx_bxs-phone-call.svg");
  width: 32px;
  height: 32px;
}

.icons-wrap__detail_email:before {
  content: '';
  background-image: url("img/envelope.svg");
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1320px) {
  .icons-wrap__svg {
    width: 28px;
  }

  .icons-wrap__detail {
    gap: 13px;
  }

  .icons-wrap__detail_address:before {
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
  }

  .icons-wrap__detail_phone:before {
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
  }

  .icons-wrap__detail_email:before {
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 1023px) {
  .icons-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icons-wrap__detail {
    display: flex;
    position: relative;
    text-align: center;
    margin: 0 0 27px 0;
  }

  .icons-wrap__detail_address:before {
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    float: left;
    position: absolute;
    left: 12px;
    margin: 0;
  }

  .icons-wrap__detail_phone:before {
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    float: left;
    position: absolute;
    left: -40px;
    margin: 0;
  }

  .icons-wrap__detail_email:before {
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    float: left;
    position: absolute;
    left: -39px;
    margin: 0;
  }
}

@media screen and (max-width: 630px) {
  .icons-wrap__detail_address:before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    left: 0;
    top: -5px;
  }

  .icons-wrap__detail {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px 0;
  }

  .icons-wrap__detail_phone:before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -27px;
    top: -2px;
  }

  .icons-wrap__detail_email:before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    left: -28px;
  }
}
