.date-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 300px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 13px;
}

.date-left__input:focus {
  outline: 2px solid #CD06FF;
}

.date-left__input_day {
  height: 52px;
  width: 134px;
  padding: 12px 20px;
  transition: outline 0.4s ease;
}

.date-left__input_time {
  height: 52px;
  width: 134px;
  padding: 12px 20px;
  transition: outline 0.4s ease;
}

.date-left__input_amount{
  height: 52px;
  width: 300px;
  padding: 12px 20px;
  transition: outline 0.4s ease;
}
