.flex-wrapper {
  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: repeat(3, auto);
  gap: 0 80px;
}

.flex-wrapper__blockquote {
  padding: 0;
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.flex-wrapper__blockquote-clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

@media screen and (max-width: 1320px) {
  .flex-wrapper {
    grid-template-columns: 420px auto;
    gap: 0 40px;
  }

  .flex-wrapper__img {
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .flex-wrapper {
    grid-template-columns: 382px auto;
    gap: 40px 28px;
  }

  .flex-wrapper__blockquote {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 767px) {
  .flex-wrapper {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 40px 28px;
  }

  .flex-wrapper__blockquote {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 630px) {
  .flex-wrapper {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 15px;
  }
}
