.flex-wrapper {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.flex-wrapper__img {
  background-image: url("img/about-us.jpg");
  background-size: 600px 596px;
  background-repeat: no-repeat;
  min-width: 600px;
  height: 596px;
  margin: 0 80px 0 0;
}
