.entertainment-card {
  display: flex;
}

.entertainment-card__description {
  position: absolute;
  padding: 0 0 34px 40px;
  white-space: pre-line;
  height: 62px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0;
  align-self: flex-end;
}
