.entertainment-card {
  display: flex;
  transition: 0.4s;
}
.entertainment-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 1px #6c0287;
}

.entertainment-card__description {
  position: absolute;
  padding: 0 0 34px 40px;
  white-space: pre-line;
  height: 62px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0;
  align-self: flex-end;
}
